.custom-scroll {
    overflow-y: auto;
    scrollbar-width: thin; /* Scrollbar delgado en Firefox */
  }
  
  .custom-scroll::-webkit-scrollbar {
    width: 8px; /* Scrollbar delgado en Webkit (Chrome, Safari) */
  }
  
  .custom-scroll::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 10px;
  }
  